/* General Styles - Mobile First */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 85%;
  margin: 10vh auto 0;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-section-one {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #decead;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #b3831d;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #b3831d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b78312;
}

button:disabled {
  background-color: #bdc3c7;
  color: #ecf0f1;
  cursor: not-allowed;
  opacity: 0.6;
}

.bitcoin-icon {
  color: #b3831d;
}

/* .footer {
  background-color: #b3831d;
  color: #ecf0f1;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  transition: height 1.5s ease;
}

.footer.expanded {
  height: calc(100vh - 10px);
}

.footer-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #7e5b11;
  object-fit: cover;
  cursor: pointer;
  transition: all 1s ease;
}

.footer-img.expanded {
  width: 200px;
  height: 200px;
  transform: translateY(200%);
}

.footer-details {
  margin-top: 10px;
  text-align: center;
  font-size: 0.8rem;
}

.footer-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}

.footer-role,
.footer-contact {
  font-size: 0.9rem;
  margin: 2px 0;
} */

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  max-width: 50%;
  margin: auto;
  animation: bounce 2s infinite;
}

.svg-container img {
  max-width: 30%;
  height: auto;
  margin-bottom: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.camera-container {
  text-align: center;
  margin-top: 20px;
}

.video-preview {
  width: 100%;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.view-founds-btn {
  padding: 10px 20px;
  background-color: #b7861c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-founds-btn:hover {
  background-color: #7e5b11;
}

.container-scanner {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

zxing-scanner {
  margin-top: 20px;
  display: block;
  width: 100%;
  max-width: 500px;
  height: 300px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.scanner {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  border: 2px solid #ddd;
  border-radius: 5px;
  display: inline-block;
}

/* Desktop Adjustments */
@media (min-width: 768px) {
  .container {
    padding: 20px;
    width: 400px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .footer {
    padding: 20px;
  }

  .footer-img {
    width: 80px;
    height: 80px;
  }

  .footer-details {
    font-size: 0.9rem;
  }

  .svg-container {
    height: 30vh;
    max-width: 90%;
  }

  svg {
    max-width: 100%;
  }
}
