<div class="super-container">
  <div class="container">
    <h1><i class="fa-brands fa-bitcoin"></i>{{amount}} satoshis </h1>
    <form [formGroup]="formGroupRecarga" (ngSubmit)="onSubmit()">
      <label for="phone">Número de Celular*</label>
      <input
        formControlName="phoneControl"
        type="tel"
        id="phone"
        placeholder="Ej. 3001234567"
        required
      />

      <button type="submit" [disabled]="formGroupRecarga.invalid">Recargar a la alcancia</button>
    </form>

    <!-- Mostrar errores -->
    <div *ngIf="formGroupRecarga.get('phoneControl')?.errors?.['required']">
      ⚠ El número de celular es obligatorio.
    </div>
    <div *ngIf="formGroupRecarga.get('amountControl')?.errors?.['required']">
      ⚠ El monto a recargar es obligatorio.
    </div>
  </div>

  <footer class="footer" [class.expanded]="isImageExpanded">
    <div class="footer-content">
      <img
        src="https://thumbs.dreamstime.com/b/sonrisa-de-retrato-y-hombre-negocios-con-los-brazos-cruzados-en-el-trabajo-oficina-o-empresa-confianza-cara-feliz-enfrente-278069919.jpg"
        alt="Foto del Representante"
        class="footer-img"
        [class.expanded]="isImageExpanded"
        (click)="expandImage()"
      />
      <div class="footer-details">
        <p class="footer-name">Nombre</p>
        <p class="footer-role">Representante de Empresa</p>
        <p class="footer-contact">Tel: +57 300 123 4567 | Email: contacto&#64;empresa.com</p>
      </div>
    </div>
  </footer>


</div>
